.nav {
  display: flex;
  justify-content: space-between;
}
.nav-routes {
  display: flex;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
}

.nav-favorites,
.nav-start-session,
.nav-languages,
.nav-end-session {
  display: flex;
  align-items: center;
}