.nav {
  display: flex;
  justify-content: space-between;
}
.nav-routes {
  display: flex;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
}
.nav-favorites {
  display: flex;
  align-items: center;
}

.nav-languages {
  display: flex;
  align-items: center;
}